.intro {
  width: 1600px;
  min-height: 900px;
  background: #73797d url('../img/intro_bg.jpg') no-repeat;
  padding-top: 260px;
  overflow: visible;
  z-index: 10;
}

.intro .intro__slogan {
  text-shadow: 0 1px 0 #3d3029;
  color: white;
  font-family: PlayfairDisplay, 'Times New Roman', serif;
  font-size: 92px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 415px;
  letter-spacing: 6.5px;
}

.intro__text {
  text-shadow: 0 1px 0 #3d3029;
  color: white;
  font-family: Proxima-Nova, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2.4px;
  text-align: center;
  margin-top: 171px;
}

.intro__btn {
  display: block;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgba(86, 83, 76, 0.53);
  border: 1px dashed #9e9c93;
  margin: 62px auto;
  padding-top: 13px;
  padding-left: 50px;
  letter-spacing: 4.7px;
}