.page-header {
  position: absolute;
  width: 1600px;
  min-height: 70px;
  padding-left: 170px;
  padding-right: 170px;
  background-color: rgba(86, 83, 76, 0.53);
  clear: both;
  z-index: 10;
}

.page-header__logo {
  width: 140px;
  height: 44px;
  float: left;
  margin-top: 18px;
  margin-right: 65px;
}

