.promo-1 {
  min-height: 760px;
  clear: both;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 52px;
  background: url('../img/promo-1_bg.jpg') no-repeat;
}

.promo-1__left-column,
.promo-1__right-column {
  float: left;
  width: 630px;
}
