.slider {
  width: 330px;
  height: 90px;
  left: 108px;
  clear: both;
}

.slider__slide {
  float: left;
  position: relative;
  display: block;
  margin: 0 15px;
}

.slick-prev {
  width: 31px;
  height: 31px;
  top: 45px;
  left: -48px;
  position: absolute;
}

.slick-next {
  width: 31px;
  height: 31px;
  top: 45px;
  left: 346px;
  position: absolute;
}

.slick-prev::before {
  content: '';
  width: 31px;
  height: 31px;
  border: 2px solid #56534c;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0;
}

.slick-prev::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #56534c;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: 11px;
  left: 13px;
  transform: rotate(45deg);
  display: block;
}

.slick-next::before {
  content: '';
  width: 31px;
  height: 31px;
  border: 2px solid #56534c;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0;
}

.slick-next::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #56534c;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 11px;
  left: 8px;
  transform: rotate(45deg);
  display: block;
}