@font-face {
  font-family: Alegreya;
  src: url('../fonts/Alegreya-Regular.ttf');
}

@font-face {
  font-family: Alegreya-Bold;
  src: url('../fonts/Alegreya-Bold.ttf');
}

@font-face {
  font-family: PlayfairDisplay;
  src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: Proxima-Nova;
  src: url('../fonts/Proxima-Nova-Regular.otf');
}

@font-face {
  font-family: Scriptina-Pro;
  src: url('../fonts/Scriptina-Pro.otf');
}