@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url(../libs/bootstrap-grid/bootstrap-grid.css);
@import url(../libs/slick-carousel/slick/slick-theme.css);
@import url(../libs/slick-carousel/slick/slick.css);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: Alegreya;
  src: url("../fonts/Alegreya-Regular.ttf"); }
@font-face {
  font-family: Alegreya-Bold;
  src: url("../fonts/Alegreya-Bold.ttf"); }
@font-face {
  font-family: PlayfairDisplay;
  src: url("../fonts/PlayfairDisplay-Bold.ttf"); }
@font-face {
  font-family: Proxima-Nova;
  src: url("../fonts/Proxima-Nova-Regular.otf"); }
@font-face {
  font-family: Scriptina-Pro;
  src: url("../fonts/Scriptina-Pro.otf"); }
/* ╨Ш╨╝╨┐╨╛╤А╤В ╤Б╤В╨╕╨╗╨╡╨╣ ╨▒╨╗╨╛╨║╨╛╨▓ */
.page {
  width: 1600px;
  margin: 0 auto; }

.page-header {
  position: absolute;
  width: 1600px;
  min-height: 70px;
  padding-left: 170px;
  padding-right: 170px;
  background-color: rgba(86, 83, 76, 0.53);
  clear: both;
  z-index: 10; }

.page-header__logo {
  width: 140px;
  height: 44px;
  float: left;
  margin-top: 18px;
  margin-right: 65px; }

.main-nav {
  float: left;
  display: inline-block;
  max-width: 870px; }

.main-nav__list {
  list-style: none;
  clear: both; }

.main-nav__item {
  float: left;
  margin-right: 35.5px;
  margin-top: 10px; }

.main-nav__link {
  color: white;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.1px; }

.main-nav__item--decor {
  color: white;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.1px; }

.socials {
  float: right;
  max-width: 190px; }

.socials__item {
  margin-top: -7px;
  margin-left: 30px;
  float: left; }

.socials__link {
  list-style: none;
  background: url("../img/spritesheet.png") no-repeat;
  display: block; }

.socials__link--facebook {
  width: 8px;
  height: 16px;
  background-position: -151px -5px; }

.socials__link--instagram {
  width: 14px;
  height: 16px;
  background-position: -169px -5px; }

.socials__link--twitter {
  width: 17px;
  height: 16px;
  background-position: -190px -3px; }

.intro {
  width: 1600px;
  min-height: 900px;
  background: #73797d url("../img/intro_bg.jpg") no-repeat;
  padding-top: 260px;
  overflow: visible;
  z-index: 10; }

.intro .intro__slogan {
  text-shadow: 0 1px 0 #3d3029;
  color: white;
  font-family: PlayfairDisplay, 'Times New Roman', serif;
  font-size: 92px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 415px;
  letter-spacing: 6.5px; }

.intro__text {
  text-shadow: 0 1px 0 #3d3029;
  color: white;
  font-family: Proxima-Nova, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 2.4px;
  text-align: center;
  margin-top: 171px; }

.intro__btn {
  display: block;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgba(86, 83, 76, 0.53);
  border: 1px dashed #9e9c93;
  margin: 62px auto;
  padding-top: 13px;
  padding-left: 50px;
  letter-spacing: 4.7px; }

.feature-1 {
  min-height: 778px;
  clear: both;
  padding-left: 170px;
  padding-right: 170px;
  background: url("../img/feature-1_bg.jpg") no-repeat 0 18px; }

.feature-1__ledge {
  position: relative;
  margin-top: -80px;
  margin-left: 604px;
  width: 80px;
  height: 80px;
  top: -17px;
  left: -15px;
  border-radius: 50%;
  background: #fff url("../img/feature-1_ledge.png") no-repeat 15px 17px;
  z-index: 15; }

.feature-1__ledge::after {
  content: "";
  width: 106px;
  height: 106px;
  position: relative;
  display: block;
  top: -14px;
  left: -13px;
  background-image: url("../img/feature-1_napkin.png"); }

.feature-1__left-column {
  width: 630px;
  float: left; }

.feature-1__right-column {
  width: 630px;
  float: left; }

.page-section__header {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 30px;
  color: #56534c;
  font-size: 48px;
  margin-top: 47px;
  margin-left: 193px;
  letter-spacing: 1px; }

.page-section__slogan {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 30px;
  color: #a47d5e;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: -28px;
  margin-left: 187px;
  letter-spacing: 1.4px; }

.page-section__text {
  max-width: 500px;
  color: #56534c;
  font-family: Proxima-Nova, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 53px 68px 50px 68px;
  letter-spacing: 1.4px;
  text-align: center; }

.feature-1__image--top-left {
  width: 295px;
  height: 250px;
  margin: 58px 16px 20px 10px; }

.feature-1__image--top-right {
  width: 295px;
  height: 250px;
  margin-top: 35px; }

.feature-1__image--bottom-left {
  width: 295px;
  height: 250px;
  margin-left: 10px;
  margin-right: 16px; }

.feature-1__image {
  outline: 5px solid #fff;
  outline-offset: -11px; }

.feature-1__napkin-filter::after {
  content: "";
  display: block;
  position: relative;
  background-image: url("../img/feature-1_big-napkin.png");
  opacity: 0.97;
  width: 247px;
  height: 247px;
  margin-top: -160px;
  margin-left: 192px;
  z-index: 20; }

.feature-1__napkin-filter::before {
  content: "Tastes so good!";
  display: block;
  position: relative;
  color: #c9b176;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: -296px;
  margin-left: 237px;
  width: 160px;
  text-align: center;
  letter-spacing: 1.4px;
  z-index: 2500; }

.citation {
  max-width: 500px;
  margin-top: -16px;
  clear: both; }

.citation__header--top {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  color: #56534c;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  margin-left: 263px;
  letter-spacing: 0.6px; }

.citation__header--left {
  display: inline-block;
  float: left;
  width: 110px;
  height: 60px;
  color: #56534c;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  margin-top: 62px;
  margin-left: 131px;
  letter-spacing: 0.6px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  padding-top: 15px;
  padding-left: 20px; }

.citation__header--right {
  display: inline-block;
  float: left;
  width: 110px;
  height: 60px;
  color: #56534c;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  margin-top: -60px;
  margin-left: 391px;
  letter-spacing: 0.6px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  padding-top: 14px;
  padding-left: 13px; }

.citation__header--center {
  background-color: #ccc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 267px;
  margin-top: -80px; }

.citation__text {
  max-width: 410px;
  font-family: Scriptina-Pro, cursive;
  color: #a47d5e;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-left: 85px;
  margin-right: 60px;
  margin-top: 33px;
  padding-left: 115px;
  letter-spacing: 0.65px; }

.citation__text::before {
  content: "";
  background: url("../img/spritesheet.png") no-repeat -5px -5px;
  display: block;
  width: 23px;
  height: 14px;
  position: relative;
  top: -10px;
  left: -87px; }

.citation__text::after {
  content: "";
  background: url("../img/spritesheet.png") no-repeat -38px -5px;
  display: block;
  width: 23px;
  height: 14px;
  position: relative;
  top: -2px;
  left: 295px; }

.feature-2 {
  min-height: 760px;
  clear: both;
  padding-left: 170px;
  padding-right: 170px;
  background: #e8e9e4 url("../img/feature-2_bg.jpg") no-repeat;
  padding-top: 140px; }

.showcase__part-left, .showcase__part-right, .feature-2__separator {
  float: left;
  display: inline-block;
  position: relative; }

.showcase__part-left {
  width: 420px;
  height: 512px; }

.showcase__part-right {
  width: 545px;
  height: 512px;
  background: url("../img/feature-2_widget-bg.png") no-repeat 283px 215px;
  background-clip: padding-box; }

.showcase__part-right--bg {
  position: absolute;
  float: right;
  left: 837px;
  width: 545px;
  height: 512px;
  background-color: #fff; }

.showcase {
  width: 965px;
  height: 512px;
  margin-left: 95px;
  background: url("../img/feature-2_widget-image.png") no-repeat; }

.feature-2__list {
  list-style: none;
  padding-top: 172px;
  margin-left: -10px; }

.feature-2__item {
  background: url("../img/spritesheet.png") no-repeat; }

.feature-2__item--starred {
  width: 21px;
  height: 20px;
  background-position: -120px -5px;
  margin-bottom: 10px; }

.feature-2__item--non-starred {
  width: 20px;
  height: 20px;
  background-position: -90px -5px; }

.feature-2 .page-section__header {
  margin-left: 62px;
  margin-top: 84px;
  z-index: 1100; }

.feature-2 .page-section__slogan {
  margin-left: 62px;
  z-index: 1100; }

.feature-2 .page-section__text {
  margin-left: 62px;
  margin-bottom: 100px;
  text-align: left;
  z-index: 1100; }

.feature-2__separator {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 2031px;
  border-radius: 50%;
  background-color: #fff;
  color: #d8bba3;
  padding-top: 16px;
  padding-left: 18px;
  cursor: col-resize;
  z-index: 30;
  font-size: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.showcase__time {
  position: absolute;
  top: -43px;
  left: 450px; }

.slider {
  width: 330px;
  height: 90px;
  left: 108px;
  clear: both; }

.slider__slide {
  float: left;
  position: relative;
  display: block;
  margin: 0 15px; }

.slick-prev {
  width: 31px;
  height: 31px;
  top: 45px;
  left: -48px;
  position: absolute; }

.slick-next {
  width: 31px;
  height: 31px;
  top: 45px;
  left: 346px;
  position: absolute; }

.slick-prev::before {
  content: '';
  width: 31px;
  height: 31px;
  border: 2px solid #56534c;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0; }

.slick-prev::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #56534c;
  border-right-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: 11px;
  left: 13px;
  transform: rotate(45deg);
  display: block; }

.slick-next::before {
  content: '';
  width: 31px;
  height: 31px;
  border: 2px solid #56534c;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0; }

.slick-next::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 2px solid #56534c;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 11px;
  left: 8px;
  transform: rotate(45deg);
  display: block; }

.tile {
  width: 200px;
  height: 200px;
  padding: 34px 53px 34px 51px;
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 30px;
  background: url("../img/feature-2-promo-2_tile-bg.png") no-repeat;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3); }

.tile__ready-in {
  color: #a47d5e;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: -9px;
  margin-left: 3px;
  letter-spacing: 1.6px; }

.tile__time {
  color: #dfc691;
  font-size: 92px;
  text-transform: uppercase;
  margin-top: 36px;
  letter-spacing: 10px; }

.tile__mins {
  color: #979285;
  font-size: 18px;
  margin-top: 24px;
  margin-left: 28px;
  letter-spacing: 1.6px; }

.promo-1 {
  min-height: 760px;
  clear: both;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 52px;
  background: url("../img/promo-1_bg.jpg") no-repeat; }

.promo-1__left-column,
.promo-1__right-column {
  float: left;
  width: 630px; }

.breakfast-menu .page-section__header {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 30px;
  color: white;
  font-size: 60px;
  margin-left: 224px;
  letter-spacing: 3px; }

.breakfast-menu .page-section__slogan {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 30px;
  color: #c8a593;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 220px;
  margin-top: -35px;
  letter-spacing: 0.85px; }

.breakfast-menu__variant--name {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 30px;
  color: white;
  font-size: 30px;
  margin-left: 262px;
  margin-top: 56px;
  letter-spacing: 1.5px; }

.breakfast-menu__variant--description {
  font-family: Proxima-Nova, Arial, sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #c2beba;
  font-size: 16px;
  margin-left: 202px;
  margin-top: -36px;
  letter-spacing: 0.8px; }

.breakfast-menu__variant--price {
  color: #dfc691;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 310px;
  margin-top: 6px;
  letter-spacing: 1.5px; }

.breakfast-menu__variant--variant-1 .breakfast-menu__variant--price::after {
  content: '';
  width: 90px;
  height: 27px;
  background-image: url("../img/promo-1_small-ornament.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin-top: 15px;
  margin-left: 3px; }

.breakfast-menu__variant--variant-2 .breakfast-menu__variant--name {
  margin-top: -30px;
  margin-left: 275px; }

.breakfast-menu__variant--variant-2 .breakfast-menu__variant--description {
  margin-left: 239px;
  margin-top: -34px; }

.breakfast-menu__variant--variant-2 .breakfast-menu__variant--price {
  margin-left: 316px;
  margin-top: 18px; }

.breakfast-menu__variant--variant-2 .breakfast-menu__variant--price::after {
  content: '';
  width: 90px;
  height: 27px;
  background-image: url("../img/promo-1_small-ornament.png");
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin-top: 17px;
  margin-left: -3px; }

.breakfast-menu__variant--variant-3 .breakfast-menu__variant--name {
  margin-top: -27px;
  margin-left: 304px; }

.breakfast-menu__variant--variant-3 .breakfast-menu__variant--description {
  margin-left: 254px;
  margin-top: -34px; }

.breakfast-menu__variant--variant-3 .breakfast-menu__variant--price {
  margin-left: 318px;
  margin-top: 19px; }

.paper {
  width: 498px;
  height: 630px;
  background: url("../img/paper-bg.png") no-repeat;
  margin-top: 22px;
  margin-left: 188px;
  z-index: 5000; }

.paper__header {
  clear: both; }

.paper__header--left-part {
  color: #56534c;
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 59px;
  margin-left: 108px;
  display: inline-block; }

.paper__header--right-part {
  color: #56534c;
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 58px;
  margin-left: 171px;
  display: inline-block;
  letter-spacing: 0.7px; }

.paper__header--ornament {
  width: 367px;
  height: 60px;
  background-image: url("../img/promo-1_paper-header-ornament.png");
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-left: 40px; }

.paper__theme {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  color: #56534c;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 62px;
  margin-left: 43px;
  margin-right: 95px;
  text-align: center;
  letter-spacing: 1px; }

.paper__text {
  color: #56534c;
  font-family: Proxima-Nova, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-left: 40px;
  margin-right: 95px;
  margin-top: -14px;
  letter-spacing: 0.7px; }

.paper__btn {
  display: block;
  width: 190px;
  height: 50px;
  color: #a47d5e;
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #9e9c93;
  text-align: center;
  margin-top: 44px;
  margin-left: 127px;
  letter-spacing: 0.7px;
  padding-top: 9px; }

.paper::after {
  content: '';
  display: block;
  width: 346px;
  height: 220px;
  background-image: url("../img/promo-1_big-ornament.png");
  background-repeat: no-repeat;
  margin-top: -83px;
  margin-left: 265px;
  opacity: 0.5; }

.promo-2 {
  min-height: 970px;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 57px;
  background: #f3f1e9 url("../img/promo-2_bg.png") no-repeat center 0;
  border: 1px solid #f3f1e9; }

.promo-2 .page-section__header {
  margin-left: 400px;
  letter-spacing: 1.2px; }

.promo-2 .page-section__slogan {
  margin-left: 465px;
  letter-spacing: 1.4px; }

.promo-2__wrapper {
  clear: both; }

.page-section__aside,
.promo-image {
  float: left; }

.page-section__aside {
  width: 290px; }

.ingredient__item--image {
  text-align: center;
  margin-top: -27px; }

.ingredient__item--name {
  color: #a47d5e;
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.8px;
  margin-top: 20px; }

.ingredient__item--description {
  color: #56534c;
  font-family: Proxima-Nova, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.33px;
  margin-top: 20px; }

.ingredient__item--2 .ingredient__item--image {
  margin-top: 55px; }

.ingredient__item--3 .ingredient__item--image {
  margin-top: 55px; }

.promo-image {
  width: 920px; }

.promo-image__image {
  margin-top: 65px;
  margin-left: 130px;
  outline: 10px solid #fff;
  outline-offset: -10px;
  z-index: 50; }

.promo-image__btn {
  width: 171px;
  height: 60px;
  display: block;
  position: relative;
  background-color: #fff;
  color: #dfc691;
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border: 1px dashed #dfc691;
  margin-left: 108px;
  margin-top: -42px;
  padding-top: 14px;
  z-index: 100; }

.promo-image__time {
  position: relative;
  margin-left: 760px; }

.promo-image__time--1 {
  margin-top: -597px;
  background: #fff none;
  opacity: 0.8; }

.promo-image__time--1 .tile__ready-in,
.promo-image__time--2 .tile__ready-in {
  margin-top: 7px;
  text-align: center; }

.promo-image__time--1 .tile__time,
.promo-image__time--2 .tile__time {
  font-family: Alegreya-Bold, 'Times New Roman', serif;
  font-weight: 700;
  line-height: 30px;
  color: #56534c;
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 22px;
  letter-spacing: 7px; }

.promo-image__time--1 .tile__mins,
.promo-image__time--2 .tile__mins {
  margin-top: 14px; }

.promo-image__time--2 {
  margin-top: 1px;
  background: #fff none;
  opacity: 0.8; }

.page-footer {
  min-height: 190px;
  margin-top: -14px;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 33px;
  background-color: #f3f1e9;
  clear: both; }

.footer-nav__left-list,
.footer-nav__right-list {
  float: left;
  list-style: none;
  width: 515px;
  min-height: 71px;
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba; }

.footer-nav__item {
  float: left;
  margin-right: 35.5px;
  margin-top: 10px; }

.page-footer__logo {
  float: left;
  margin-top: 39px;
  margin-left: 45px;
  margin-right: 45px; }

.footer-nav__link {
  display: block;
  color: #56534c;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.0px;
  padding-top: 15px; }

.footer-nav__item--decor {
  display: block;
  color: #56534c;
  font-family: Alegreya, 'Times New Roman', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-top: 15px; }

.footer-nav__link--page-8 {
  margin-left: 8px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
/**/
/* Small Devices, Tablets */
/**/
/* Extra Small Devices, Phones */
/**/
/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/

/*# sourceMappingURL=main.css.map */
